$white: #ffffff;
$black: #000000;
$green: #25882f;
$peach: #ff5151;
$grey: #d1d1d1;
$desc: #4a5c92;
$lightgrey: #f1f0f7;
$darkgrey: #758490;
$lightblue: #00a0ff;
$royalblue: #185adb;
$darknavy: #000e33;
$forestGreen: #00467a;
$peacock-blue: #002a76;
$lightgreen: #70c800;
$dark-green: #00335e;

$blue-gradient: linear-gradient((141deg, #376ff0 7.74%, #003ea6 86.57%));
