$white: #ffffff;
$black: #000000;
$green: #25882f;
$peach: #ff5151;
$orange: #ff6633;
$grey: #d1d1d1;
$grey2: #adb8cc;
$border: #707070;
$mid-grey: #f4f4f4;
$desc: #4a5c92;
$materialTheme: #616e94;
$materialGrey:#EFEFEF;
$lightgrey: #f6f6f6;
$darkgrey: #758490;
$lightblue: #00a0ff;
$lightRoyal: #3361ff;
$royalblue: #185adb;
$royalBlue2: #2659c3;
$darknavy: #000e33;
$forestGreen: #00467a;
$peacock-blue: #002a76;
$lightgreen: #70c800;
$dark-green: #00335e;
$purple: #8833ff;
$mid-black: rgba(0, 0, 0, 0.5);


$blue-gradient: linear-gradient((141deg, #376ff0 7.74%, #003ea6 86.57%));
