* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $DM-Font;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@mixin flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto !important;
  // border: 1px solid red;
  width: 100%;
  padding: 0 1.6rem;
}
.innerCont {
  max-width: 1280px;
  margin: 0 auto !important;
  width: 100%;
  margin: 0 auto;
  // border: 1px solid blue;
  padding: 0 1.5rem !important;
}

.sectionPadding {
  padding: 100px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  font-family: $DM-Text;
  color: $dark-green;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  &:hover {
    text-decoration: none;
  }
}
label {
  font-size: 1.6rem;
  font-weight: 700;
  color: $black;
}

p {
  color: $darkgrey;
  font-size: 1.6rem;
  font-weight: 400;
}
