// header Slider Style

.headerSlider {
  height: 80vh;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 23rem;
  .carousel {
    border-radius: 4.5rem;
    .carousel-inner {
      border-radius: 4.5rem;
      .carousel-item {
        &:nth-child(1) {
          background: linear-gradient(141deg, #376ff0 7.74%, #003ea6 86.57%);
        }
        &:nth-child(2) {
          background: linear-gradient(141deg, #f42424 7.74%, #f58585 86.57%);
        }
        &:nth-child(3) {
          background: linear-gradient(141deg, #f037c8 7.74%, #f91702 86.57%);
        }
      }
    }
  }
  .headerDataCont {
    position: absolute;
    height: 28vh;
    bottom: -18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4.5rem;
    background-color: $white;

    .guideBtn {
      font-size: 2.4rem;
      font-weight: 400;
      color: $white;
      font-family: $DM-Text;
      background-color: $dark-green;
      border-radius: 4rem;
      padding: 1rem 5rem;
      border-radius: 41px;
      box-shadow: -1px 4px 8.8px 1px rgba(0, 23, 74, 0.34);
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
    }
    .btnCont {
      a {
        border-radius: 0.8rem;
        border: 1px solid #d0d5dd;
        background-color: $white;
        padding: 1.2rem 3.5rem;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        font-size: 1.6rem;
        font-weight: 600;
        color: $darkgrey;
      }
    }
    .headerSearchBar {
      width: 90%;
      border-radius: 4rem;
      border: 2px solid $grey2;
      input {
        outline: none;
      }
      img {
        cursor: pointer;
      }
    }
  }
}

.counterSec {
  height: 20vh;
  background-color: $lightgrey;
  .counterCont {
    h1 {
      font-size: 4rem;
      font-weight: 400;
      font-family: $DM-Text;
      color: $dark-green;
    }
    .counterBox {
      .countImgBox {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
      h3 {
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 700;
        color: $materialTheme;
      }
      h5 {
        font-size: 1.6rem;
        font-weight: 500;
        color: $materialTheme;
      }
    }
  }
}

// Location Section Style

.locationSec {
  .locationCont {
    .bookmarkLinksCont {
      padding: 4rem 0;
      gap: 1rem;
      a {
        font-size: 1.6rem;
        font-weight: 500;
        color: $materialTheme;
        padding: 1.6rem 2.5rem;
        border-radius: 4rem;
        background-color: $materialGrey;
      }
    }
    .searchSec {
      padding-top: 8rem;
      h2 {
        font-size: 3rem;
        font-weight: 400;
        color: $dark-green;
      }
      .searchAreaBox {
        padding: 1.2rem 2.4rem;
        border-radius: 1.2rem;
        cursor: pointer;
        h4 {
          font-size: 2rem;
          font-weight: 500;
          color: $dark-green;
        }
        h5 {
          font-size: 1.6rem;
          font-weight: 500;
          color: $darkgrey;
        }
      }
    }
  }
}

.carouselSec {
  .carouselCont {
    height: 90vh;
    position: relative;
  }
}

// News letter style
.newsletterSec {
  padding: 8rem 1rem;
  color: $white;

  #newsletterCont {
    padding: 6.4rem 7.2rem;
    background-color: $peacock-blue;
    border-radius: 3rem;
    column-gap: 3rem;

    .newsTextCont {
      h2 {
        font-size: 4rem;
        font-weight: 400;
        font-family: $DM-Text;
        color: $white;
        text-decoration: none;
      }
      p {
        margin-bottom: 5rem;
        color: $grey;
      }
      .inputBoxCont {
        input {
          width: 32rem;
          border-radius: 0.8rem;
          outline: none;
          padding: 1rem 1.4rem;
        }
        .subscribeBtn {
          color: $white;
          border-radius: 0.8rem;
          padding: 1rem 1.8rem;
          border: none;
          outline: none;
          background-color: $lightgreen;
          font-size: 1.6rem;
          font-weight: 600;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
      }
    }
  }
}

// login sec style

.loginSec {
  height: 100vh;
  .loginFormCont {
    width: 45%;
    padding: 0;
    .formTextContainer {
      width: 65%;
      h1 {
        font-size: 4.5rem;
        font-weight: 700;
        color: $dark-green;
        margin-bottom: 4rem;
      }
      .formContainer {
        .switchCont {
          margin-bottom: 6rem;
          p {
            font-size: 2rem;
          }
          .switch {
            font-size: 15px;
            position: relative;
            display: inline-block;
            width: 4em;
            height: 2em;
            margin: 0 5rem;
          }
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $green;
            transition: 0.4s;
            border-radius: 3rem;
          }
          .slider:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 50%;
            left: 0.3em;
            bottom: 0.3em;
            transform: rotate(270deg);
            background-color: $white;
            transition: 0.4s;
          }
          .switch input:checked + .slider {
            background-color: $lightblue;
          }
          .switch input:checked + .slider:before {
            transform: translateX(1.85em);
          }
        }
        form {
          margin-bottom: 5rem;
          input {
            width: 100%;
            border-radius: 4.8rem;
            border: none;
            background-color: $lightgrey;
            font-size: 1.8rem;
            font-weight: 400;
            outline: none;
            padding: 2rem 3rem;
            margin-bottom: 2rem;
          }
          button {
            width: 100%;
            border: none;
            padding: 1.6rem 0;
            background-color: $green;
            font-size: 2rem;
            font-weight: 400;
            color: $white;
            border-radius: 4.8rem;
            cursor: pointer;
            margin-top: 2rem;
          }
        }
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: $dark-green;
        a {
          font-size: 1.8rem;
          font-weight: 700;
          color: $dark-green;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 0.14rem;
            background-color: $dark-green;
            position: absolute;
            bottom: -2px;
            left: 0;
          }
        }
      }
      h3 {
        font-size: 2.4rem;
        font-weight: 400;
        color: $dark-green;
        text-decoration: none;
      }
      .socialIconCont {
        a {
          width: 7rem;
          height: 7rem;
          padding: 2.5rem;
          border-radius: 50%;
          background-color: $lightgrey;
          @include flexrow;
        }
      }
    }
  }
  .loginSliderCont {
    width: 55%;
    .skipBtn {
      padding: 1.8rem 3.2rem;
      border-radius: 6rem;
      font-size: 2rem;
      font-weight: 400;
      color: $dark-green;
      background-color: $white;
      z-index: 10;
      top: 4rem;
      right: 4rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .carousel {
      padding: 2rem;
      .carousel-inner {
        border-radius: 5rem;
      }
      .carousel-item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .carousel-control-prev {
        background-color: $grey;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: 90%;
        left: 42%;
        padding: 1.5rem;
        opacity: 1;
      }
      .carousel-control-next {
        background-color: $grey;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: absolute;
        top: 90%;
        right: 42%;
        padding: 1.5rem;
        opacity: 1;
      }
    }
  }
}

// Slider Sec

.sliderSec {
  .sliderCont {
    padding: 0;
    h2 {
      font-size: 4rem;
      font-weight: 400;
      font-family: $DM-Text;
      color: $dark-green;
      text-decoration: none;
    }
    p {
      width: 80%;
      color: $darkgrey;
      margin-bottom: 8rem;
    }

    .swiper {
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;

      .swiper-button-next {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 50%;
        padding: 2.5rem;
        top: 40%;
        right: -1px;
        color: $black !important;
        background-color: $grey;

        &::after {
          font-size: 1.5rem;
        }
      }
      .swiper-button-prev {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 50%;
        padding: 2.5rem;
        top: 40%;
        left: -1px;
        color: $black !important;
        background-color: $grey;

        &::after {
          font-size: 1.5rem;
        }
      }
      .swiper-slide {
        text-align: left;
        @include flexrow;
        flex-direction: column;
        align-items: start;
        .slideImgCont {
          width: 100%;
          img {
            border-radius: 3rem;
          }
        }
        .sliderTextCont {
          h4 {
            font-size: 1.6rem;
            font-weight: 500;
            color: $dark-green !important;
          }
          p {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0;
          }
        }
      }
    }
  }
}

// offer card style

.cardSec {
  align-items: start;
  flex-wrap: wrap;
  .offerCard {
    position: relative;
    width: 55rem;
    background-color: $white;
    border-radius: 3rem;
    padding: 8rem 3.5rem;
    padding-bottom: 4rem;
    #close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
    .logoBox {
      width: 20rem;
      height: 5rem;
      background-color: $lightblue;
      // margin-top: 6rem;
      margin-bottom: 5rem;
    }
    h4 {
      font-size: 1.8rem;
      font-weight: 700;
      color: $dark-green;
    }
    p {
      color: $darkgrey;
      margin-bottom: 3rem;
    }
    button {
      border: none;
      border-radius: 0.8rem;
      padding: 1rem 1.8rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    #continueBtn {
      background: $blue-gradient;
      color: $white;
    }
    #cancelBtn {
      background-color: transparent;
    }
  }
  .eventPopUp {
    width: 32rem;
    border-radius: 1.5rem;
    background-color: $white;
    position: relative;
    img {
      top: 1rem;
      right: 2rem;
    }
    .profile {
      img {
        width: 6rem;
        height: 6rem;
      }
    }
    .eventTextBox {
      h5 {
        font-size: 1.4rem;
        font-weight: 700;
      }
      p {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.4rem;
        font-weight: 500;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

// blogSec style

.blogSec {
  h2 {
    font-size: 4rem;
    font-weight: 400;
    font-family: $DM-Text;
    color: $dark-green;
    margin-bottom: 6rem;
    text-decoration: none;
  }
  .blogCont {
    margin-bottom: 5rem !important;
    .card {
      background-color: $white;
      border-radius: 3rem;
      overflow: hidden;
      p {
        &:nth-child(1) {
          font-size: 1.4rem;
        }
      }
      img {
        width: 100%;
        border-radius: 3rem;
      }
      h5 {
        font-size: 2rem;
        font-weight: 700;
        color: $dark-green;
        margin-bottom: 1.5rem;
      }
    }
  }
  #viewmore {
    padding: 1.8rem 6rem;
    border-radius: 0.8rem;
    text-align: center;
    color: $white;
    font-size: 1.6rem;
    font-weight: 500;
    background: $blue-gradient;
    border: none;
  }
}

// header slider style

.headerSliderSec {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  .carousel {
    // border: 1px solid red;
    .carousel-inner {
      .carousel-item {
        height: calc(85vh - 7rem);
        // border: 1px solid blue;
        img {
          height: 100%;
          object-fit: cover;
          border-radius: 5rem;
        }
        .slideTextBox {
          // border: 1px solid red;
          color: $white;
          position: absolute;
          top: 20rem;
          left: 50%;
          transform: translateX(-50%);

          h2 {
            font-size: 4.8rem;
            color: $white;
            text-decoration: none;
          }
          p {
            color: $white;
          }
        }
        .sliderBar {
          border: 1px solid red;
          color: $white;
          position: absolute;
          bottom: 15rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .carousel-control-prev {
      span {
        width: 3rem;
        height: 3rem;
      }
    }
    .carousel-control-next {
      span {
        width: 3rem;
        height: 3rem;
      }
    }
    .carousel-indicators {
      bottom: 4rem;
      button {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: $grey;
        margin-left: 1rem;
        border: none;

        &.active {
          background-color: $white;
        }
      }
    }
  }
}

// event slider style

.eventSliderSec {
  .eventSliderCont {
    h2 {
      font-size: 4rem;
      text-decoration: none;
      color: $dark-green;
    }
    p {
      margin-bottom: 4rem;
    }
    .eventBtn {
      padding: 1.2rem 2rem;
      border-radius: 0.8rem;
      background: $blue-gradient;
      color: $white;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    .swiper {
      width: 100%;
      height: 48vh;
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      grid-template-rows: minmax(1rem, 20rem), minmax(1rem, 50rem);

      .swiper-wrapper {
        height: 22%;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          border: 1px solid $grey;
          padding: 1rem 1.5rem;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 2.5rem;

          .imgBox {
            width: 40%;
            height: 100%;
            border-radius: 1rem;
            padding: 0;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 1rem;
            }
          }
          .dashed {
            position: absolute;
            height: 80%;
            top: 50%;
            left: 41%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          .textBox {
            width: 60%;
            padding: 1rem 0;

            h5 {
              font-size: 1.6rem;
              font-weight: 700;
              color: $dark-green;
            }
            img {
              height: 1.6rem;
            }
            p {
              font-size: 1.3rem;
              margin: 1rem 0;
            }
            button {
              font-size: 1.4rem;
              font-weight: 500;
              padding: 0.1rem 1.2rem;
              border-radius: 0.8rem;
              background-color: $white;
              border: 1px solid $darkgrey;
              color: $darkgrey;
            }
            h2 {
              font-size: 3.4rem;
              font-weight: 400;
            }
          }
        }
      }
      .swiper-scrollbar {
        background-color: #eef8ff;
        .swiper-scrollbar-drag {
          // width: 10rem !important;
          height: 0.85rem;
          border-radius: 23px;
          background: #b2e5ff;
          margin-top: -0.3rem;
          cursor: grab;
          &:active {
            cursor: grabbing;
          }
        }
      }
    }
  }
}

// Rating Section Style

.ratingSec {
  .ratingWrapper {
    h2 {
      font-size: 4rem;
      font-weight: 400;
      font-family: $DM-Text;
      color: $dark-green;
      text-decoration: none;
    }
    p {
      width: 80%;
      color: $darkgrey;
      margin-bottom: 6rem;
    }
    .ratingCont {
      .ratingBox {
        border-radius: 3rem;
        background-color: $white;
        border: 1px solid $grey;

        h1 {
          font-size: 6rem;
          font-weight: bold;
          color: $darkgrey;
          font-family: $kalam;
        }
        h3 {
          font-size: 3rem;
          font-weight: 500;
          text-decoration: none;
          color: $darkgrey;
        }
      }
      .ratingSearchBar {
        background-color: $white;
        border-radius: 3rem;
        border: 1px solid $grey;
        img {
          cursor: pointer;
        }

        input {
          border-top-right-radius: 3rem;
          border-bottom-right-radius: 3rem;
          outline: none;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .ratingSlider {
        height: 30vh;
        background-color: $white;
        border-radius: 3rem;
        padding: 1rem;
        .carousel {
          border-radius: 3rem;
          .carousel-indicators {
            li {
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              background-color: transparent;
              border: 1px solid $white;
              &.active {
                background-color: $white;
              }
            }
          }
          .carousel-inner {
            border-radius: 3rem;
            .carousel-item {
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .reviewBoxWrapper {
      background-color: $white;
      border-radius: 3rem;
      border: 1px solid $grey;

      .reviewBoxCont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        height: 52vh;
        overflow-y: scroll;
        .reviewBox {
          border-radius: 1.5rem;
          background-color: #f3f7fc;
          .reviewHeader {
            .textBox {
              img {
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
              }
              h3 {
                font-size: 2.2rem;
                font-weight: 500;
                text-decoration: none;
                color: $dark-green;
              }
              h5 {
                font-size: 1.4rem;
                font-weight: 400;
                color: $darkgrey;
              }
            }
            h4 {
              font-size: 1.4rem;
              font-weight: 500;
              color: $darkgrey;
            }
          }
          h4 {
            font-size: 1.8rem;
            font-weight: 700;
            color: $dark-green;
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            margin-bottom: 1rem;
          }
        }
      }
      .reviewFooter {
        height: 10vh;
        background-color: #f3f7fc;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        .down {
          border-radius: 50%;
          background-color: $dark-green;
          padding: 2rem;
          cursor: pointer;
        }
      }
    }
  }
}

// CheckSec style

.checkSec {
  .checkCont {
    h2 {
      font-size: 4rem;
      font-weight: 400;
      font-family: $DM-Text;
      color: $dark-green;
      text-decoration: none;
    }
    p {
      width: 80%;
      color: $darkgrey;
      margin-bottom: 6rem;
    }
    .row {
      display: flex;
      justify-content: space-between;

      .checkcover {
        padding: 0.5rem;
        position: relative;

        .checkback {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 1rem;
          background-color: #7f56d9;
          z-index: -1;
          display: none;
        }
        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 2rem;
          height: 2rem;
          border-radius: 0.6rem;
          border: 1px solid #7f56d9;
          background-color: white;
          outline: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          &:checked::before {
            content: "\2713";
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 900;
            color: #7f56d9;
          }
        }
      }
      img {
        right: 5rem;
      }
      input[type="text"] {
        border: 1px solid red;
        width: 32rem;
        border-radius: 0.8rem;
        background-color: $white;
        font-size: 1.6rem;
        outline: none;
        margin-left: 1.5rem;

        &::placeholder {
          color: $darkgrey;
        }
      }
      .searchBtn {
        padding: 1rem 1.8rem;
        border-radius: 0.8rem;
        background-color: $dark-green;
        color: $white;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
}
// featureSec style

.feartureSec {
  background-color: $royalBlue2;
  margin-bottom: 20rem;
  padding: 10rem 0;
  .feartureCont {
    .featureTextCont {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      h2 {
        font-size: 4.8rem;
        font-weight: 400;
        font-family: $DM-Text;
        color: $white;
        text-decoration: none;
      }
      p {
        color: $white;
      }
      button {
        padding: 1.2rem 2rem;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 4rem;
      }
    }
    .featureBoxCont {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      margin-bottom: -25rem;
      .featureBox {
        border-radius: 3rem;
        background-color: $white;
        padding: 2.5rem;
        h3 {
          font-size: 2.4rem;
          font-weight: 400;
          font-family: $DM-Text;
          color: $dark-green;
          text-decoration: none;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
